/* About Me Styling */
.about-me {
    padding: 25%;
    text-align: center;
    padding-top: 0%;
}

.about-title {
    font-size: 4rem;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 5s steps(40, end), blink-caret 1s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
  }

.about--blue--img {
    height: 13rem;
}

.about--blue {
    z-index: -1;
    position: absolute;
    top: 30%;
    left: 70%;
}

.about--dots--img {
    height: 4rem;
}

.about--dots {
    z-index: -1;
    position: absolute;
    top: 35%;
    left: 5%;
}

.about--purple {
    z-index: -1;
    position: absolute;
    top: 75%;
    left: 80%;
}
  