/* Home Styling */

.home {
  position: relative;
  min-height: 100vh; /* hero section = full screen height */
}

.welcome {
    margin-top: 5%;
}

.home--hello {
  color: #fff;
  font-size: 15vh;
  padding-left: 10vh;
  /* padding-top: 5vh; */
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 0 0 20px rgba(150, 149, 149, 0.5);
  animation: typing 8s steps(20, end) forwards;
}

/* Reveal text left → right */
@keyframes typing {
  from { width: 0ch; }
  to { width: 20ch; }
}

.home--name {
    color:#fff;
    font-size: 5vh;
    padding-left: 10vh;
    padding-top: 0;
    display: block;
    line-height: 5vh;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.home--connect {
    color:#fff;
    font-size: 3vh;
    padding: 6vh;
    line-height: 10vh;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.hand {
    z-index: -1;
    position: absolute;
    top: 65%;
    left: 33%;
}

.hand--img {
    height: 43rem;
}

.line--arrow {
    z-index: -1;
    position: absolute;
    top: 5%;
    left: 75%;
}

.line--arrow--img {
    height: 20rem;
}


/* About Me Styling */
.about-me {
  margin-top: 10vh;    
  padding: 0 15%;  
  padding-left: 10vh;
  font-size: 20px;
  text-align: left;
}

h2 {
    font-size: 25px;

}

.about-title {
  font-size: 4rem;
  color: #fff;
  padding-top: 5vh;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 0 0 20px rgba(150, 149, 149, 0.5);
}

.summary-text {
  text-align: left;
}
  
.about--halfwheel--img {
    height: 22rem;
}

.about--halfwheel {
    z-index: -1;
    position: absolute;
    top: 240%;
    left: 65%;
}

.about--dots--img {
    height: 7rem;
}

.about--dots {
    z-index: -1;
    position: absolute;
    top: 225%;
    left: 40%;
}

.about--purple {
    z-index: -1;
    position: absolute;
    top: 140%;
    left: 85%;
}

.about--purple--img {
    height: 10rem;
}

.about--circle {
    z-index: -1;
    position: absolute;
    top: 150%;
    left: 10%;
}

.about--circle--img {
    height: 15rem;
}  

.about-me, 
.about-title, 
.about-intro, 
.summary-text {
  text-align: left !important;
}


/* Projects Styling */
.projectContainer {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.cardContainer {
    display: flex;
    flex-direction: column;
}

.card--odd {
    display: flex;
}

.card--even {
    display: flex;
    flex-direction: row-reverse;
}

.project--description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(250, 250, 250);
}

.project--links {
    background-color: #ffcccc;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
    font-weight: bold;
}

.project--video {
    padding: 15px;
}

.project--links:hover {
    background-color: #cfcecc;
    color: #ffffff;
}