/* Home Styling */

.welcome {
    position: absolute;
    top: 5%;
}

.home--hello {
    color:#fff;
    font-size: 20vh;
    padding-left: 10vh;
    padding-bottom: 0;
    display: block;
    top:0%;
    z-index: 1;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.home--name {
    color:#fff;
    font-size: 5vh;
    padding-left: 10vh;
    padding-top: 0;
    display: block;
    line-height: 5vh;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.home--connect {
    color:#fff;
    font-size: 3vh;
    padding: 6vh;
    line-height: 10vh;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.pink--circle {
    z-index: -1;
    position: absolute;
    top: 27%;
    left: 50%;
}

.pink--circle--img {
    height: 18rem;
    top: 0%;
}

.green--shape {
    z-index: -1;
    position: absolute;
    top: 60%;
    left: 70%;
}

.green--shape--img {
    height: 43rem;
}

.hand {
    z-index: -1;
    position: absolute;
    top: 60%;
    left: 33%;
}

.hand--img {
    height: 43rem;
}

.line--arrow {
    z-index: -1;
    position: absolute;
    top: 42%;
    left: 75%;
}

.line--arrow--img {
    height: 20rem;
}

.square {
    z-index: -1;
    position: fixed;
    top: 25%;
    left: 2%;
}

.square--img {
    height: 3rem;
}

.button {
    z-index: 1;
    position: absolute;
    top: 85%;
    left: 72%;
}

.projects--button {
    width: 15rem;
    height: 6rem;
    background-color: whitesmoke;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    cursor: pointer;
    padding: 10px 20px; 
}

.projects--button:hover {
    background-color: rgb(245, 182, 64);
    color: #222;
}