
.contact--linkedin {
    max-height: 5rem;
}

.contact--card {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 47%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    border: pink 10px solid;
    border-radius: 50%;
    width: 40rem;
    height:40rem;
    display: flex;
    flex-direction: column;
    line-height: 30%;
    background: #FAE98E;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.contact--pink {
    z-index: -1;
    position: absolute;
    top: 30%;
    left: 65%;
}

.contact--pink--img {
    height: 20rem;
}

.contact--purple {
    z-index: -1;
    position: absolute;
    top: 65%;
    left: 85%;
}

.contact--dots--img {
    height: 8rem;
}

.contact--dots {
    z-index: -1;
    position: absolute;
    top: 20%;
    left: 90%;
}

.contact--purple--img {
    height: 13rem;
}

.contact--square {
    z-index: -1;
    position: absolute;
    top: 90%;
    left: 65%;
}

.contact--square--img {
    height: 3rem;
}

.contact--square2 {
    z-index: -1;
    position: absolute;
    top: 60%;
    left: 0%;
}

.contact--square2--img {
    height: 5rem;
}

.contact--multiple {
    z-index: -2;
    position: absolute;
    top: 70%;
    left: 10%
}

.contact--multiple--img {
    height: 16rem;
}

.contact--pink--circle {
    z-index: -1;
    position: absolute;
    top: 20%;
    left: 0%;
}

.contact--blue--img {
    height: 13rem;
}

.contact--blue {
    z-index: -1;
    position: absolute;
    top: 20%;
    left: 20%;
}

.contact--pink--circle--img {
    height: 13rem;
}