body {
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: #FAE98E;
    font-family: 'poppins', sans-serif;
    color: black;
}

/* Navbar Styling */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0; 
}

.navbar--name {
    font-size: 3rem;
    justify-content: left;
}

.logo {
    width: 10rem;
    height: 5rem;
}

.navbar--right ul {
    justify-content: space-around;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0; 
}

.navbar a {
    text-decoration: none; /* removes link underline */
    color: black;
    padding: 10px 20px; /* better spacing */
    font-weight: bolder ;
    font-size: 2rem;
}

.navbar a:hover {
    background-color: #AED3B0; /* color on hover */
}

/* media query for better responsiveness on smaller screens */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column; /* column layout on smaller screens */
        align-items: center; /* center items vertically */
    }
}

.navbar--logo {
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
    max-height: 5rem;
    position: sticky;
}

.navbar--name {
    flex-direction: column;
    justify-content: left;
}

/* Home Styling */

.welcome {
    position: absolute;
    top: 5%;
}

.home--hello {
    color:#fff;
    font-size: 20vh;
    padding-left: 10vh;
    padding-bottom: 0;
    display: block;
    top:0%;
    z-index: 1;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.home--name {
    color:#fff;
    font-size: 5vh;
    padding-left: 10vh;
    padding-top: 0;
    display: block;
    line-height: 5vh;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.home--connect {
    color:#fff;
    font-size: 3vh;
    padding: 6vh;
    line-height: 10vh;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.pink--circle {
    z-index: -1;
    position: absolute;
    top: 27%;
    left: 50%;
}

.pink--circle--img {
    height: 18rem;
    top: 0%;
}

.green--shape {
    z-index: -1;
    position: absolute;
    top: 60%;
    left: 70%;
}

.green--shape--img {
    height: 43rem;
}

.hand {
    z-index: -1;
    position: absolute;
    top: 60%;
    left: 33%;
}

.hand--img {
    height: 43rem;
}

.line--arrow {
    z-index: -1;
    position: absolute;
    top: 42%;
    left: 75%;
}

.line--arrow--img {
    height: 20rem;
}

.square {
    z-index: -1;
    position: fixed;
    top: 25%;
    left: 2%;
}

.square--img {
    height: 3rem;
}

.button {
    z-index: 1;
    position: absolute;
    top: 85%;
    left: 72%;
}

.projects--button {
    width: 15rem;
    height: 6rem;
    background-color: whitesmoke;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    cursor: pointer;
    padding: 10px 20px; 
}

.projects--button:hover {
    background-color: rgb(245, 182, 64);
    color: #222;
}

.contact--linkedin {
    max-height: 5rem;
}

.contact--card {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 47%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    border: pink 10px solid;
    border-radius: 50%;
    width: 40rem;
    height:40rem;
    display: flex;
    flex-direction: column;
    line-height: 30%;
    background: #FAE98E;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.contact--pink {
    z-index: -1;
    position: absolute;
    top: 30%;
    left: 65%;
}

.contact--pink--img {
    height: 20rem;
}

.contact--purple {
    z-index: -1;
    position: absolute;
    top: 65%;
    left: 85%;
}

.contact--dots--img {
    height: 8rem;
}

.contact--dots {
    z-index: -1;
    position: absolute;
    top: 20%;
    left: 90%;
}

.contact--purple--img {
    height: 13rem;
}

.contact--square {
    z-index: -1;
    position: absolute;
    top: 90%;
    left: 65%;
}

.contact--square--img {
    height: 3rem;
}

.contact--square2 {
    z-index: -1;
    position: absolute;
    top: 60%;
    left: 0%;
}

.contact--square2--img {
    height: 5rem;
}

.contact--multiple {
    z-index: -2;
    position: absolute;
    top: 70%;
    left: 10%
}

.contact--multiple--img {
    height: 16rem;
}

.contact--pink--circle {
    z-index: -1;
    position: absolute;
    top: 20%;
    left: 0%;
}

.contact--blue--img {
    height: 13rem;
}

.contact--blue {
    z-index: -1;
    position: absolute;
    top: 20%;
    left: 20%;
}

.contact--pink--circle--img {
    height: 13rem;
}

/* Projects Styling */

.projectContainer {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.cardContainer {
    display: flex;
    flex-direction: column;
}

.card--odd {
    display: flex;
}

.card--even {
    display: flex;
    flex-direction: row-reverse;
}

.project--description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.project--links {
    background-color: #ffcccc;
    border: none;
    border-radius: 20px;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.project--video {
    padding: 15px;
}

.project--links:hover {
    background-color: #f0b31a;
    color: #222;
}

/* About Me Styling */
.about-me {
    padding: 25%;
    text-align: center;
    padding-top: 0%;
}

.about-title {
    font-size: 4rem;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 5s steps(40, end), blink-caret 1s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
  }

.about--blue--img {
    height: 13rem;
}

.about--blue {
    z-index: -1;
    position: absolute;
    top: 30%;
    left: 70%;
}

.about--dots--img {
    height: 4rem;
}

.about--dots {
    z-index: -1;
    position: absolute;
    top: 35%;
    left: 5%;
}

.about--purple {
    z-index: -1;
    position: absolute;
    top: 75%;
    left: 80%;
}
  