body {
    margin: 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    background-color: #0a0a0a;
    font-family: 'poppins', sans-serif;
    color: rgb(255, 255, 255);
}

html, body {
  width: 100%;
  overflow-x: hidden;
}