body {
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: #FAE98E;
    font-family: 'poppins', sans-serif;
    color: #fff;
}

/* Navbar Styling */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0; 
}

.navbar--name {
    font-size: 3rem;
    justify-content: left;
}

.logo {
    width: 10rem;
    height: 5rem;
}

.navbar--right ul {
    justify-content: space-around;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0; 
}

.navbar a {
    text-decoration: none; /* removes link underline */
    color: #fff; 
    padding: 10px 20px; /* better spacing */
    font-weight: bolder ;
    font-size: 2rem;
}

.navbar a:hover {
    background-color: #AED3B0; /* color on hover */
}

/* media query for better responsiveness on smaller screens */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column; /* column layout on smaller screens */
        align-items: center; /* center items vertically */
    }
}

.navbar--logo {
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
    max-height: 30vh;
}

.navbar--name {
    flex-direction: column;
    justify-content: left;
}

/* Home Styling */

.welcome {
    position: absolute;
    top: 5%;
}

.home--hello {
    color:#fff;
    font-size: 20vh;
    padding-left: 10vh;
    padding-bottom: 0;
    display: block;
    top:0%;
    z-index: 1;
}

.home--name {
    color:#fff;
    font-size: 5vh;
    padding-left: 10vh;
    padding-top: 0;
    display: block;
    line-height: 5vh;
}

.home--connect {
    color:#fff;
    font-size: 3vh;
    padding: 6vh;
    line-height: 10vh;
}

.pink--circle {
    z-index: -1;
    position: absolute;
    top: 27%;
    left: 50%;
}

.pink--circle--img {
    height: 18rem;
    top: 0%;
}

.green--shape {
    z-index: -1;
    position: absolute;
    top: 60%;
    left: 70%;
}

.green--shape--img {
    height: 43rem;
}

.hand {
    z-index: -1;
    position: absolute;
    top: 60%;
    left: 33%;
}

.hand--img {
    height: 43rem;
}

.line--arrow {
    z-index: -1;
    position: absolute;
    top: 45%;
    left: 75%;
}

.line--arrow--img {
    height: 20rem;
}

.square {
    z-index: -1;
    position: absolute;
    top: 25%;
    left: 2%;
}

.square--img {
    height: 3rem;
}

.button {
    z-index: 1;
    position: absolute;
    top: 75%;
    left: 72%;
}

.projects--button {
    width: 15rem;
    height: 6rem;
    background-color: whitesmoke;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    cursor: pointer;
    padding: 10px 20px; 
}

.button:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
}

.contact--linkedin {
    max-height: 8rem;
}

.contact--card {
    justify-content: center;
    align-items: center;
    width: 700px; 
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}


.contact--pink--circle {
    justify-content: center;
    align-items: center;
    width: 1000px; 
    height: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.contact--pink--circle--img {
    height: 40rem;
}

.contact--green--shape {
    z-index: -1;
    position: absolute;
    top: 32%;
    left: 65%;
}

.contact--green--shape--img {
    height: 43rem;
}

.contact--green {
    z-index: -1;
    position: absolute;
    top: 30%;
    left: 70%;
}

.contact--green--img {
    height: 20rem;
}

.contact--pink {
    z-index: -1;
    position: absolute;
    top: 25%;
    left: 70%;
}

.contact--pink--img {
    height: 20rem;
}

.contact--multiple {
    z-index: -2;
    position: absolute;
    top: 70%;
    left: 10%
}

.contact--multiple--img {
    height: 16rem;
}

.contact--outline {
    z-index: -1;
    position: absolute;
    top: 20%;
    left: 0%;
}

.contact--outline--img {
    height: 10rem;
}

.projectContainer {
    display: flex;
    flex-direction: column;
}

.cardContainer {
    display: flex;
    flex-direction: column;
}

.card--odd {
    border: red 2px solid;
    display: flex;
}

.card--even {
    border: red 2px solid;
    display: flex;
    flex-direction: row-reverse;
}

.project--description {
    display: flex;
    justify-content: center;
    align-items: center;
}